.card-body {
    padding: 10px
}

.b-board-overlay {
    position: absolute;
    width: 300px;
    height: 300px;
    opacity: 0.6;
    z-index: 1000;
    background-color: white;

    &:hover {
        opacity: 0;
    }
}