<h2>{{class.name}}</h2>

<ul class="list-inline">
  <li *ngFor="let p of class.pupils" class="list-inline-item mr-4 mb-4">
      <a routerLink="/my/pupils/{{p.id}}"><img [src]="p.picture" width="30" /> {{p.name}}</a>
  </li>
</ul>  

<h3>
  Домашние задания <a class="btn btn-primary btn-sm" routerLink="/my/classes/{{class.id}}/add-homework">назначить новое</a>
</h3>
<ul class="list-unstyled">
  <li *ngFor="let h of homeworks" class="mb-4">
    <span>Назначено {{h.dateCreated | date:'d MMMM, H:mm':undefined:'ru' }}</span>
    <hr>
    <div *ngFor="let p of h.puzzles" class="card align-top mr-3 mb-3 pull-left d-inline-block" style="width: 202px;">
      <div *ngIf="p.fixedPercent == 100" class="b-board-overlay"></div>
      <app-pure-chessground [sizePx]="200" [config]="p.cgConfig" (initialized)="onBoardInit($event, p)"></app-pure-chessground>
      <div class="card-body">
        <small>
          <div><i>{{p.description}}</i></div>
          <app-chess-move-list *ngIf="p.standardPuzzleSolution" [movesClickable]="true" (moveClick)="onMoveClick($event, p)" class="d-block" [moves]="p.standardPuzzleSolution.moves" [blackIsFirst]="p.standardPuzzleSolution.blackIsFirst"></app-chess-move-list>
          <div *ngIf="p.findAllChecksPuzzleSolution">
            Всего вариантов шаха: <span>{{p.findAllChecksPuzzleSolution.totalChecks}}</span>
          </div>
          <hr class="my-1">
          <div [ngSwitch]="p.fixedPercent" class="p-0">
            <span *ngSwitchCase="0">Никто пока не решил</span>
            <span *ngSwitchCase="100"><i class="fas fa-check text-success"></i> все ученики решили.</span>
            <span *ngSwitchDefault>{{p.fixedPercent}}% учеников решили</span>
          </div>
          <a routerLink="/my/classes/{{class.id}}/homeworks/{{h.id}}/puzzles/{{p.id}}">Подробнее</a>
        </small>
      </div>
    </div>
    <div class="clearfix"></div>
  </li>
</ul>  
