.card-body {
    padding: 10px
}

.b-board {
    &:hover {
        .b-board__overlay {
            opacity: 0;
        }
    }
}

.b-board__overlay {
    position: absolute;
    opacity: 0.6;
    z-index: 1000;
    background-color: white;
}