<div class="mb-3">
    <button (click)="onCreateClassClick()" type="button" class="btn btn-primary">Добавить класс</button>
</div>

<div class="row mb-3" *ngFor="let g of gClasses">
  <div class="col-sm-4" *ngFor="let c of g" [@anim]="c.uiState">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <a routerLink="/my/classes/{{c.id}}">{{c.name}}</a>
        </h5>
        <ul class="list-inline">
          <li class="list-inline-item" *ngFor="let p of c.pupils">
            <a routerLink="/my/pupils/{{p.id}}">
              <img [src]="p.picture" [title]="p.name" width="20">
            </a>
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-sm btn-link" (click)="onAddPupilClick(c)">Добавить ученика</button>
      </div>
    </div>
  </div>
</div>