<h2>Назначить домашнее задание</h2>

<form class="mt-4" (ngSubmit)="onApplyHomeworkClick()" [formGroup]="form" #ngForm="ngForm">
  <div class="form-inline mb-2">
    <label class="mr-2" for="classInput">Класс</label>
    <select [(ngModel)]="classId" 
          name="classId" 
          class="form-control mr-sm-4" 
          id="classInput"
          (ngModelChange)="onClassChange()" [ngModelOptions]="{standalone: true}">
      <option *ngFor="let c of myClasses" [ngValue]="c.id">{{c.name}}</option>
    </select>

    <!-- <label class="mr-2" for="forWho">Кому?</label>
    <select [(ngModel)]="selectedPupilId" name="assignToPupilId" class="form-control mr-sm-2" id="forWho" [ngModelOptions]="{standalone: true}">
      <option [ngValue]="null">Всем</option>
      <option *ngFor="let p of classPupils" [ngValue]="p.id">{{p.name}}</option>
    </select> -->
  </div>

  <div>
    <h3>Выбор задач</h3>
    <div class="text-danger mb-3" *ngIf="formPuzzles.invalid && ngForm.submitted">Необходимо добавить хотя бы одну задачу</div>

    <div class="mb-2" *ngIf="selectedPuzzles.length">
      <div *ngFor="let p of selectedPuzzles; let i = index" class="pull-left d-inline-block mr-2 mb-2 b-homework-puzzle card">
        <app-pure-chessground [sizePx]="180" [config]="{fen: p.fen, coordinates: false,viewOnly: true}"></app-pure-chessground>
        <div class="card-body p-2">
          <small>
            <div class="text-truncate"><i>{{p.description}}</i></div>
          </small>
          <hr class="mt-1 mb-2">
          <button (click)="removePuzzle(i)" type="button" class="btn btn-secondary btn-sm">исключить</button>
          <!-- <app-chess-puzzle style="width: 180px" [pgn]="p.pgn" [showBoardNotation]="false"></app-chess-puzzle> -->          
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="mb-2">
      <div class="mb-2 p-2 mr-2 border d-inline-block align-top">
        <div class="form-inline">
          <button type="button" class="btn btn-link p-1" (click)="onAddPuzzles()">Добавить</button>
          <select [(ngModel)]="addPuzzlesCount" class="form-control form-control-sm mr-2" name="addPuzzlesCount" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let i of [2, 3, 4]" [ngValue]="i">{{i}}</option>
          </select>
          <span class="align-middle">случайных задачи</span>
        </div>
      </div>

      <div class="mb-2 p-2 mr-2 border d-inline-block align-top">
        <button (click)="onAddFromFavoriteClick()" type="button" class="btn btn-link p-1">Добавить</button> <span class="align-middle">задачи из избранного</span>
      </div>

      <div class="mb-2 p-2 border d-inline-block align-top">
        <button (click)="onCreateNewPuzzleClick()" type="button" class="btn btn-link p-1">Создать новую задачу</button>
      </div>
    </div>
  </div>

  <div>
    <a class="btn btn-link" routerLink="/my/classes/{{classId}}">Отмена</a>&nbsp;
    <button type="submit" class="btn btn-primary">Назначить</button>
  </div>
</form>
