<div class="row" *ngIf="currentPuzzle">
  <div class="col-4" [ngSwitch]="currentPuzzle.puzzleType">
    <app-standard-puzzle 
      *ngSwitchCase="PuzzleType.Standard"       
      [pgn]="currentPuzzle.pgn" 
      (pieceMoved)="onPieceMoved($event)"
      (puzzleSolutionStateChanged)="onPuzzleSolutionStateChanged($event)"></app-standard-puzzle>
    <app-find-all-checks-puzzle 
      *ngSwitchCase="PuzzleType.FindAllChecks" 
      [fen]="currentPuzzle.fen" 
      (initialized)="findAllChecksPuzzleOnInitialized($event)"
      (boardInit)="findAllChecksPuzzleOnBoardInit($event)"
      (moveMade)="findAllChecksPuzzleOnMoveMade($event)"
      class="d-block"></app-find-all-checks-puzzle>
  </div>
  <div class="col-8">
    <ngb-tabset #tabs>
      <ngb-tab title="Задача" id="tabPuzzleTask">
        <ng-template ngbTabContent>
          <div class="p-4 bg-light">
            {{currentPuzzle.description}}
          </div>
          <div class="px-4 pt-4" *ngIf="findAllChecksPuzzleInfo">
            Всего в данной позиции {{findAllChecksPuzzleInfo.turn == 'w' ? 'белые' : 'черные'}} могут поставить <span class="badge badge-info">{{findAllChecksPuzzleInfo.allChecks.length}}</span> вариантов рызных шахов
            <div *ngIf="findAllChecksPuzzleInfo.foundChecks.length > 0">
              Найденные варианты шахов: 
              <span *ngFor="let m of findAllChecksPuzzleInfo.foundChecks">
                <app-chess-move class="badge badge-light" [move]="m" [moveColor]="findAllChecksPuzzleInfo.turn"></app-chess-move>
              </span>
              <div *ngIf="findAllChecksPuzzleInfo.checksLeft != 0">
                Осталось найти <span class="badge badge-warning">{{findAllChecksPuzzleInfo.checksLeft}}</span> вариантов
              </div>
            </div>
          </div>
          <div *ngIf="puzzleState" [ngSwitch]="puzzleState" class="px-4 pt-4">
            <div *ngSwitchCase="puzzleSolutionStateTypes.CorrectMove">
              <app-chess-move [move]="myLastMove.san" [moveColor]="myLastMove.color"></app-chess-move><span class="align-middle"> верный ход! <i class="far fa-thumbs-up fa-lg"></i></span>
            </div>
            <div *ngSwitchCase="puzzleSolutionStateTypes.PuzzleDone">
              Задача решена! <i class="fas fa-trophy fa-lg text-warning"></i>
              <div>
                <button type="button" class="btn btn-default btn-link p-0" (click)="goToNextPuzzle()">Перейти к следующей</button>
              </div>
            </div>
            <div *ngSwitchCase="puzzleSolutionStateTypes.IncorrectMove">
              <app-chess-move [move]="myLastMove.san" [moveColor]="myLastMove.color"></app-chess-move><span class="align-middle"> неверный ход! <i class="far fa-frown fa-lg"></i></span>
              <br>Попробуй еще
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Сообщения</ng-template>
        <ng-template ngbTabContent>
          <div *ngIf="initialMessagesCount == 0" class="p-4 bg-light">
            Здесь можно задать вопрос тренеру по данной задаче
          </div>
          <app-homework-puzzle-chat
            class="d-block mt-4" 
            (chatThreadLoaded)="onChatThreadLoaded($event)"
            [pupilId]="currentPupil.id" 
            [homeworkId]="homeworkId" 
            [puzzleId]="currentPuzzle.id"></app-homework-puzzle-chat>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
