<div class="row" *ngIf="currentPuzzle">
  <app-chess-puzzle class="col-6" [pgn]="currentPuzzle.pgn" (puzzleSolutionStageChanged)="onPuzzleSolutionStageChanged($event)"></app-chess-puzzle>
  <div class="col-6">
    <app-homework-puzzle-chat [pupilId]="currentPupil.id" [homeworkId]="homeworkId" [puzzleId]="currentPuzzle.id"></app-homework-puzzle-chat>
    <div [ngSwitch]="puzzleState">
      <div *ngSwitchCase="puzzleSolutionStateTypes.CorrectMove">
        Верный ход!
      </div>
      <div *ngSwitchCase="puzzleSolutionStateTypes.PuzzleDone">
        Задача решена!        
      </div>
      <div *ngSwitchCase="puzzleSolutionStateTypes.IncorrectMove">
        Неверный ход!
      </div>
    </div>
    <div *ngIf="puzzleFixed">
      <button type="button" class="btn btn-default" (click)="goToNextPuzzle()">Перейти к следующей задаче</button>
    </div>
  </div>
</div>
