<div class="container">
  <div class="row mt-5 mb-3">
    <div class="col-4">
      <app-cg-board-editor *ngIf="stepNumber == 1" (editorInitialized)="onEditorInitialized($event)"></app-cg-board-editor>
      <app-pure-chessground *ngIf="stepNumber == 2" [config]="recorderCgConfig" (initialized)="onRecorderInitialized($event)"></app-pure-chessground>
      <div *ngIf="stepNumber == 3">
        <app-pure-chessground class="mb-3" [config]="recorderCgConfig" (initialized)="onRecorderInitialized($event)"></app-pure-chessground>
        <app-chess-move-list [moves]="recorderMoves" [blackIsFirst]="recorderBlackStartsGame"></app-chess-move-list>
      </div>
    </div>
    <div class="col-6">
      <div [ngSwitch]="stepNumber" class="mb-2">
        <div *ngSwitchCase="1">
          <h3>Шаг 1</h3>
          <p>Выставьте начальную позицию задачи</p>
        </div>
        <div *ngSwitchCase="2">
          <h3>Шаг 2</h3>
          <p>Проделайте ходы решения задачи. Ходы решения будут автоматически записаны</p>
          <app-chess-move-list class="d-block mb-2" [moves]="recorderMoves" [blackIsFirst]="recorderBlackStartsGame"></app-chess-move-list>
          <div *ngIf="recorderMoves.length > 0">
            <button type="button" class="btn btn-sm" (click)="cancelLastRecorderMove()">Отменить последний ход</button>
          </div>
        </div>
        <div *ngSwitchCase="3">
          <h3>Шаг 3</h3>
          <p>Добавьте описание задачи (необязятельно)</p>
          <div class="form-group">
            <textarea class="form-control" placeholder="Например, белые начинают и ставят мат в 2 хода"></textarea>
          </div>
        </div>
      </div>
      <hr>
      <div class="text-right">
        <button type="button" class="btn btn-primary btn-sm" (click)="goToNextStep()">{{stepNumber ==3 ? 'Готово' : 'Далее'}}</button>
      </div>
    </div>
  </div>  
</div>