<!-- <table class="table table-bordered">
  <tbody>
    <tr *ngFor="let h of homeworks">
      <td>
        {{h.dateCreated | date:'d MMMM, h:mm':undefined:'ru' }} назначено {{h.puzzles.length}} задач
      </td>
      <td class="text-right" [ngSwitch]="h.pupilStats[0].fixedPuzzlesCount">
        <span *ngSwitchCase="0">
          <a routerLink="/p/do-homeworks/{{h.id}}">решить</a>
        </span>
        <span *ngSwitchCase="h.puzzles.length">
          задачи решены <i class="fas fa-thumbs-up text-success"></i>
        </span>
        <span *ngSwitchDefault>
            <a routerLink="/p/do-homeworks/{{h.id}}">решить</a> {{h.puzzles.length - h.pupilStats[0].fixedPuzzlesCount}} оставшиеся задачи
        </span>
      </td>
    </tr>
  </tbody>
</table> -->

<div class="jumbotron" *ngIf="homeworksCount == 0; else homeworks_added">
  <h1 class="display-4">Привет!</h1>
  <p class="lead">Здесь будут отображаться твои домашние задания, но на данный момент тренер еще не назначил ни одного.</p>
</div>

<ng-template #homeworks_added>
  <p class="lead card card-body bg-light">
    <span [ngSwitch]="nonFixedPuzzlesCount">
      <span *ngSwitchCase="0">Все домашние задания прорешены. Так держать! <i class="fas fa-grin text-warning"></i></span>
      <span *ngSwitchDefault>
          На данный момент <span class="badge badge-warning bg-light-yellow p-2">{{nonFixedPuzzlesCount}}</span> задач из домашних заданий еще не решены Вами.<br>
          <a routerLink="/p/do-homeworks">Решить оставшиеся задачи</a>      
      </span>
    </span>
  </p>
</ng-template>

<app-pupil-timeline [pupilId]="pupilId"></app-pupil-timeline>
