html {
    font-size: 35px;
}

.b-print-block {
    border-width: 3px !important;
}

@media print {
* {
    -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
    color-adjust: exact !important;  /*Firefox*/
    }
}