<div class="modal-header">
  <div class="modal-title">
    <h4>Выбор задач</h4>
    <div class="small">Отметьте галочкой задачи, которые хотите добавить</div>
  </div>
</div>
<div class="modal-body">
  <div *ngIf="isLoading" class="text-center m-5">Пожалуйста подождите <i class="fas fa-circle-notch fa-spin"></i></div>

  <div *ngIf="!isLoading" class="card-columns">
    <div *ngFor="let item of selectablePuzzles; let i = index" class="card d-inline-block" style="width: 175px;">
      <app-pure-chessground [sizePx]="173" [config]="{fen: item.fen,viewOnly:true,coordinates:false}"></app-pure-chessground>
      <div class="card-body">
        <small>
          <div class="text-truncate"><i>{{item.puzzle.description}}</i></div>
          <app-chess-move-list *ngIf="item.puzzle.puzzleType == PuzzleType.Standard" class="d-block" [moves]="item.solution.moves" [blackIsFirst]="item.solution.turn == 'b'"></app-chess-move-list>
          <div *ngIf="item.puzzle.puzzleType == PuzzleType.FindAllChecks">
            <span *ngFor="let m of item.solution.allChecks">
              <app-chess-move class="badge badge-light" [move]="m.san" [moveColor]="item.solution.turn"></app-chess-move>
            </span>
          </div>
        </small>
        <hr class="my-1">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck{{i}}" [(ngModel)]="item.isSelected">
          <label class="custom-control-label" for="customCheck{{i}}"><small>выбрать</small></label>
        </div>
      </div>
    </div>
  </div>  
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="activeModal.dismiss()">Отмена</button>
  <button type="button" class="btn btn-primary" (click)="activeModal.close({ puzzles: getSelectedPuzzles })">Добавить</button>
</div>